.modalComp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding: 20px;
    @include center;

    &__overlay {
        background-color: rgba(0, 0, 0, 0.329);
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        width: 100%;
        height: 100%;
        font-size: 40px;
        display: flex;
        justify-content: flex-end;
        color: $colorTextLight;
    }

    &__content {
        width: 70%;
        height: 600px;
        padding: 15px;
        border-radius: 4px;
        background-color: blanchedalmond;
        z-index: 999;
        animation: modalContent .7s;
        transition: all .2;
    }
}

@keyframes modalContent {
    from {
        margin-top: 100px;
        opacity: .5;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}