.light-table {
    width: 100%;
    border-radius: 20px;
    margin-top: 60px;
    height: 600px;
    overflow-y: auto;

    thead {
        display: flex;
        align-items: center;
        background-color: rgba(white, .1);
        font-size: 20px;
        color: $colorTextLight;
        padding: 15px;

        &:first-child {
            border-radius: 20px 20px 0 0;
        }


        tr {
            width: 90%;
            display: flex;
            padding: 0 10px;
            justify-content: flex-start;
            font-weight: 500;
        }

        td {
            width: calc(100%/7);
            padding: 10px;
        }
    }

    tbody {
        display: flex;
        align-items: center;
        font-size: 17px;
        background-color: rgba(202, 208, 218, 0.075);
        color: $colorTextLight;
        cursor: pointer;
        position: relative;

        .tableDel {
            position: absolute;
            top: 35%;
            right: 4%;
            color: $colorTextLight;
            font-size: 20px;
            z-index: 999;
            background: transparent;
            outline: none;
            border: none;

            &:hover {
                transform: scale(1.3);
            }
        }

        &:hover {
            background-color: rgba(202, 208, 218, 0.116);
        }

        &:last-child {
            border-radius: 0 0 20px 20px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.171);
        }

        tr {
            width: 90%;
            // padding-bottom: 15px;
            display: flex;
            justify-content: space-between;
            padding: 20px 15px;

            td {
                width: calc(100%/7);
                padding: 10px;
            }
        }
    }
}

.dark-table {
    margin-top: 10px;

    thead {
        color: black;
        border-bottom: 1px solid rgb(202, 202, 202);
    }

    tbody {
        color: black;
        border-radius: 0 !important;

        &:not(:last-child) {
            border-bottom: 1px solid rgb(202, 202, 202);
        }
    }
}


.deleteOrderAnimation {
    animation: deleteAni 2s;
}

@keyframes deleteAni {

    from {
        opacity: 1;
        z-index: 9999;
    }

    to {
        margin-right: 100px;
        opacity: .5;
        z-index: -9999;
    }

}