.loading-admin-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient($colorMain, rgb(97, 29, 223));
    z-index: 999999999999999999999999999;
    @include center;
}

.ldio-t7tqugy2btb div {
    position: fixed;
    width: 30px
}

.ldio-t7tqugy2btb div:nth-child(1) {
    left: 35px;
    background: #ffffff;
    animation: ldio-t7tqugy2btb-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.2s
}

.ldio-t7tqugy2btb div:nth-child(2) {
    left: 85px;
    background: #f3efeb;
    animation: ldio-t7tqugy2btb-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.1s
}

.ldio-t7tqugy2btb div:nth-child(3) {
    left: 135px;
    background: #e6e6e6;
    animation: ldio-t7tqugy2btb-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: undefineds
}

.loadingio-spinner-pulse-f5x2njhzpfq {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

.ldio-t7tqugy2btb {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-t7tqugy2btb div {
    box-sizing: content-box;
}


@keyframes ldio-t7tqugy2btb-1 {
    0% {
        top: 36px;
        height: 128px
    }

    50% {
        top: 60px;
        height: 80px
    }

    100% {
        top: 60px;
        height: 80px
    }
}

@keyframes ldio-t7tqugy2btb-2 {
    0% {
        top: 41.99999999999999px;
        height: 116.00000000000001px
    }

    50% {
        top: 60px;
        height: 80px
    }

    100% {
        top: 60px;
        height: 80px
    }
}

@keyframes ldio-t7tqugy2btb-3 {
    0% {
        top: 48px;
        height: 104px
    }

    50% {
        top: 60px;
        height: 80px
    }

    100% {
        top: 60px;
        height: 80px
    }
}